# Pandas
Data analysis library

In [1]:
import pandas as pd

# 1. Series
One Dimension Data

## Series production
EX) Average temperature from Jan to Apr (-20, -10, 20, 20)

In [2]:
temp = pd.Series([-20, -10, 10, 20])
print(temp)

0   -20
1   -10
2    10
3    20
dtype: int64

In [3]:
temp[0]

-20

In [4]:
temp[2]

10

# Series production (Index)

In [5]:
temp = pd.Series([-20, -10, 10, 20], index=['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [6]:
temp['Jan'] # Index Jan return

-20

In [7]:
temp['Apr']

20

In [9]:
# temp['Jun'] # No index